@import "tailwindcss";

@theme {
    --color-background: #0f111a;
    --color-surface: rgba(255, 255, 255, 0.03);
    --color-surface-hover: rgba(255, 255, 255, 0.08);
    --color-border: rgba(255, 255, 255, 0.08);
    --color-text-primary: #f8f9fa;
    --color-text-secondary: #94a3b8;

    --color-primary: #4ade80;
    --color-primary-hover: #22c55e;
    --color-success: #86efac;
    --color-danger: #fecdd3;
    --color-warning: #fef08a;

    --font-sans: 'Inter', sans-serif;
}

@layer base {
    body {
        @apply bg-[var(--color-background)] text-[var(--color-text-primary)] font-sans antialiased;
    }

    /* Custom Scrollbar Styling */
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--color-primary);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--color-primary-hover);
    }
}