@import "tailwindcss";

@theme {
    --color-background: #0f111a;
    --color-surface: #1e2130;
    --color-surface-hover: #2a2e42;
    --color-text-primary: #f8f9fa;
    --color-text-secondary: #94a3b8;

    --color-primary: #b392f0;
    --color-primary-hover: #c4a9f4;
    --color-success: #a7f3d0;
    --color-danger: #fecdd3;
    --color-warning: #fef08a;

    --font-sans: 'Inter', sans-serif;
}

@layer base {
    body {
        @apply bg-[var(--color-background)] text-[var(--color-text-primary)] font-sans antialiased;
    }
}